:root {
  /* основной цвет текста #757575 */
  --main-text-color: #757575;
  /* вторичный цвет текста #212121 */
  --secondary-text-color: #212121;
  /* акцент #2196F3 */
  --accent-color: #2196f3;
  /* цвет лого */
  --logo-text-color: #000000;
  /* основной цвет заливки #E5E5E5 */
  /* --main-background-color: #e5e5e5; */
  /* вторичный цвет заливки #FFFFFF */
  --secondary-background-color: #ffffff;
  /* цвет текста героя */
  --hero-text-color: #ffffff;
  /* заливка героя ##c4c4c4 */
  --hero-background-color: #c4c4c4;
  /* заливка кнопки героя при фокусе #188CE8 */
  --hero-button-hover-color: #188ce8;
  /* заливка команды */
  --team-background-color: #f5f4fa;
  /* цвет иконок #AFB1B8*/
  --icon-color: #afb1b8;
  /* заливка футера #2F303A*/
  --footer-backgorund-color: #2f303a;
  /* цвет ссылок в футере */
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

/* стилизация всей страницы */

/* roboto 400,500,700,900 */
/* raleway 700 */
body {
  /* background-color: var(--main-background-color); */
  color: var(--main-text-color);
  /* системные шрифты font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif; */
  font-family: roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, noto, arial, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Утилиты */
/* убирает точки и левый отступ у списков*/
.list {
  list-style: none;
  padding: 0;
}
/* убирает подчеркивание ссылок */
.link {
  text-decoration: none;
}
/* скрывает визуально контент */
.concealer {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* обнуление внешних отступов */
h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* закругленные края кнопок */
.button {
  border: 1px solid transparent;
  border-radius: 4px;
}
/* смена цвета текста */
.main-text {
  color: var(--main-text-color);
}
.accent-text {
  color: var(--accent-color);
}
.logo-text {
  color: var(--logo-text-color);
}
.secondary-text {
  color: var(--secondary-text-color);
}
/* смена цвета на accent при hover focus */
.hover-accent:hover,
.focus-accent:focus {
  color: var(--accent-color);
}
/* вторичные цвета заливки */
.secondary-background {
  background-color: var(--secondary-background-color);
}
.hero-background {
  background-color: var(--hero-background-color);
}
.accent-background {
  background-color: var(--accent-color);
}
/* контейнер для центрирования и ограничения контента по ширине */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 3px solid red; */
}
/* контейнер секций */
.section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
/* класс для стилизации изображений */
.image {
  display: block;
  width: 100%;
  height: auto;
}
/* задание свойства флекс */
.flex {
  display: flex;
}
/* конец Утилит */

/* стили шапки */
.header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.site-nav > .logo {
  align-items: center;
}
/* выделение текущей страницы в навигации */
.link.current {
  color: var(--accent-color);
}
.header-list .item {
  position: relative;
}
.item .current::after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(0, -75%);
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
/* стиль текста шапки + центрирование по высоте */
.header-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
}
/* отступы шапки */

.header-list > .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav {
  margin-right: auto;
}
.site-nav .logo {
  margin-right: 93px;
  margin-top: auto;
  margin-bottom: auto;
}
.header-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* иконки в контактах */
.contacts .link {
  display: inline-flex;
  align-items: center;
}
.contacts .icon {
  fill: currentColor;
  margin-right: 10px;
}

/* стили героя */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--hero-text-color);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  /* у самой кнопки с классом .button граница 1 px */
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 9px;
  padding-bottom: 9px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: var(--hero-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero .button:hover,
.hero .button:focus,
.hero .button:active {
  /* color: var(--accent-color); */
  background-color: var(--hero-button-hover-color);
}
/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
}
/* прячет модальное окно */
.is-hidden {
  pointer-events: none;
  opacity: 0;
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--hero-text-color);
}
.modal-button {
  position: absolute;
  left: calc(100% - 8px);
  top: 8px;
  transform: translate(-100%, 0);
  width: 30px;
  height: 30px;
  background: var(--secondary-background-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-button::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(5%, -50%) rotate(-45deg);
  width: 7px;
  height: 7px;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
.modal-button::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-105%, -50%) rotate(135deg);
  width: 7px;
  height: 7px;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
/* стили особенностей */
.feature.section {
  padding-bottom: 47px;
}
.feature-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-item {
  width: calc((100% - 90px) / 4);
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-icon {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: var(--team-background-color);
  border-radius: 4px;
}
/* стили чем мы занимаемся и команды*/
.what.section {
  padding-top: 47px;
}
/* заголовок секции*/
.team-title {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* ширина карточки чем мы занимаемся  */
.what-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}
/* оступы между карточками */
.what-item:not(:last-child),
.teamcard:not(:last-child) {
  margin-right: 30px;
}
.what-label {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  transform: translate(0, -100%);
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 0;
}
.what-item:hover .what-label {
  opacity: 1;
}
/* стили команды */
.team {
  background-color: var(--team-background-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* стили карточки команды */
.teamcard {
  width: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* имя члена команды */
.teamcard > h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: inherit;
}
/* блок соцсетей */
.teamcard .social {
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
.social-item {
  width: 44px;
  height: 44px;
  padding: 12px;
  border: none;
  border-radius: 50%;
  color: var(--icon-color);
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-item > .link {
  color: inherit;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-item:hover,
.social-item:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}
/* постоянные клиенты */
.clients .team-title {
  margin-bottom: 50px;
}
.clients .list {
  margin-left: auto;
  margin-right: auto;
}
.clients .item {
  width: calc((100%-150px) / 6);
  padding: 15px 31px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--icon-color);
}
.clients .item:not(:last-child) {
  margin-right: 30px;
}
.clients .link {
  color: inherit;
}
.clients .icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.clients .item:hover,
.clients .item:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* стили футера */
.footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
  background-color: var(--footer-backgorund-color);
}
.footer-text {
  color: var(--hero-text-color);
  font-style: normal;
}
.footer .address {
  margin-top: 20px;
}
.footer-link {
  margin-top: 9px;
  color: var(--footer-link-color);
  font-style: normal;
}
/* секция присоединяйтесь */
.join {
  margin-left: 70px;
  padding-top: 12px;
  color: var(--hero-text-color);
}
.join .title {
  margin-bottom: 20px;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
.join .social-item {
  color: var(--hero-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.join .social-item:hover,
.join .social-item:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}
/* стили портфолио */
/* фильтр */
/* эффекты кнопок при hover focus */
.filter .button:hover,
.filter .button:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*стили кнопок*/
.filter .button {
  /* у самой кнопки с классом .button граница 1 px */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 21px;
  padding-right: 21px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
}
/* отступы и позиционирование фильтра */
.filter {
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
/* отступы между кнопками фильтра  */
.filter > .item:not(:last-child) {
  margin-right: 8px;
}
/* собственно портфолио */

/* стили блоков портфолио */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
/* ширина карточки */
.portfolio-item {
  width: calc((100% - 60px) / 3);
}
/* оступы между карточками */
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.thumb {
  position: relative;
}
.portfolio-description {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(0, -100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--hero-text-color);
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
}
.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:hover .portfolio-description {
  opacity: 1;
}
/* название продукта */
.portfolio-item h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* тип продукта */
.portfolio-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* нижняя часть карточки */
.portfolio-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
